<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dati Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="today-outline" (click)="goToPrenotazioni()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="library-outline" (click)="goToStorico()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="information-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="exit-outline" color="danger" (click)="logOut()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <form [formGroup]="userForm" (ngSubmit)="aggiornamentoDati(userForm.value)" novalidate>
    <ion-card>
      <ion-card-content>

        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" value="{{utente?.email}}" type="email"></ion-input>
        </ion-item>

        <ng-container *ngFor="let error of error_msg.email">
          <div
            *ngIf="userForm.get('email').hasError(error.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
            {{ error.message }}
          </div>
        </ng-container>

        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <ng-container *ngFor="let error of error_msg.password">
          <div
            *ngIf="userForm.get('password').hasError(error.type) && (userForm.get('password').dirty || userForm.get('password').touched)">
            {{ error.message }}
          </div>
        </ng-container>

        <ion-button type="submit" color="success" expand="block"
          [disabled]="!userForm.valid || (userForm.get('email').value==utente?.email && userForm.get('password').value == '')">
          Aggiorna Dati</ion-button>

      </ion-card-content>
    </ion-card>
  </form>
</ion-content>