<ion-header>
  <ion-toolbar>
    <ion-button size="small" slot="end" fill="outline" color="danger" (click)="logOut()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
    <ion-title>Prenotazioni Effettuate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook" (click)="logOut()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Utente: {{utente?.nome}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button type="submit" (click)="prova()">Prova</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>