<ion-header>
  <ion-toolbar>
    <ion-title>Eventi</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-card color="medium" *ngFor="let ev of eventi; let i = index;">

    <ion-item color="light">
      <ion-label> {{ ev.nome }} </ion-label>
    </ion-item>

    <ion-card-content>
      {{ ev.descrizione }}
    </ion-card-content>

    <ion-card-content>
      Data svolgimento: {{ ev.dataSvolgimento }}
    </ion-card-content>

    <ion-card-content>
      Prezzo unitario: € {{ ev.prezzo }}
    </ion-card-content>

    <ion-card-content>
      Posti disponibili: {{ ev.numeroPosti }}
    </ion-card-content>

    <ion-card-content>
      <form [formGroup]="partecipantiForm" (ngSubmit)="prenota(partecipantiForm.value)" method="post">
        <ion-input formControlName="numPartecipanti" type="number" placeholder="Numero partecipanti" required></ion-input>
        <ion-button type="submit" color="success" [disabled]="!partecipantiForm.valid || this.ev.numeroPosti<this.partecipantiForm.get('numPartecipanti').value">Prenota</ion-button>
      </form>
    </ion-card-content>
    
  </ion-card>

</ion-content>