<ion-header>
  <ion-toolbar>
    <ion-title>Eventi</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-card color="medium" *ngFor="let ev of mappa | keyvalue; let i = index;">

    <ion-item color="light">
      <ion-label> {{ ev.key.nome }} </ion-label>
    </ion-item>

    <ion-card-content>
      {{ ev.key.descrizione }}
    </ion-card-content>

    <ion-card-content>
      Data svolgimento: {{ ev.key.data }}
    </ion-card-content>

    <ion-card-content>
      Prezzo unitario: € {{ ev.key.prezzo }}
    </ion-card-content>

    <ion-card-content>
      Posti disponibili: {{ ev.value }}
    </ion-card-content>

    <ion-card-content>
  <!--    <ion-input #v  type="number">  </ion-input>
      <ion-button [disabled]="!(v.value>0 && v.value<ev.value)"></ion-button>-->
      <form [formGroup]="partecipantiForm" (ngSubmit)="prenota(ev.key, partecipantiForm.value)" method="post">
        <ion-input #v formControlName="numPartecipanti" type="number" placeholder="Numero partecipanti" required></ion-input>
       <ion-button type="submit" color="success" [disabled]="!(v.value>0 && v.value<=this.ev.value)">Prenota</ion-button>
      </form>
    </ion-card-content>
    
  </ion-card>

</ion-content>