<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Eventi</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="today-outline" (click)="goToPrenotazioni()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="library-outline" (click)="goToStorico()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="settings-outline" (click)="goToEditUtente()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="information-outline" (click)="goToInformazioni()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="exit-outline" color="danger" (click)="logOut()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


  <ion-card color="medium" *ngFor="let ev of mappa | keyvalue; let i = index;">

    <ion-item color="light">
      <ion-label> {{ ev.key.nome }} </ion-label>
    </ion-item>

    <ion-card-content>
      {{ ev.key.descrizione }}
    </ion-card-content>

    <ion-card-content>
      Data svolgimento: {{ ev.key.data }}
    </ion-card-content>

    <ion-card-content>
      Prezzo unitario: € {{ ev.key.prezzo }}
    </ion-card-content>

    <ion-card-content>
      Posti disponibili: {{ ev.value }}
    </ion-card-content>

    <ion-card-content>
  <!--    <ion-input #v  type="number">  </ion-input>
      <ion-button [disabled]="!(v.value>0 && v.value<ev.value)"></ion-button>-->
      <form [formGroup]="partecipantiForm" (ngSubmit)="prenota(ev.key, partecipantiForm.value)" method="post">
        <ion-input #v formControlName="numPartecipanti" type="number" placeholder="Numero partecipanti" required></ion-input>
       <ion-button type="submit" color="success" [disabled]="!(v.value>0 && v.value<=this.ev.value)">Prenota</ion-button>
      </form>
    </ion-card-content>
    
  </ion-card>

</ion-content>